*{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #083B45;
    max-width: 1280px;
}

header h1{
    color: aliceblue;
    font-size: 5rem;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#wrapper{
    width: auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.number{
    background-color: #1389B2;
    text-align: center;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: purple;
    border-radius: 999px;
}

.fizz{
    background-color: #08D6A1;
}

.buzz{
    background-color: #FFD166;
}

.fizzbuzz{
    background-color: #F0466F;
}