*{
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #083B45;
    max-width: 1280px;
}

header h1{
    color: aliceblue;
    font-size: 5rem;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.wrapper{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.number{
    background-color: #1389B2;
    text-align: center;
    width: 200px;
}

.fizz{
    background-color: #08D6A1;
}

.buzz{
    background-color: #FFD166;
}

.fizzbuzz{
    background-color: #F0466F;
}